.header {
  text-align: center;
  color: white;
  font-family: 'Lilita One', cursive;
  font-size: 60px;
  padding-top: 12px;
}

html, body {
  background-image: linear-gradient(to bottom right, rgb(10, 156, 120), rgb(93, 209, 215));
  height: 100%;
}

div {
  font-family: 'Lilita One', cursive;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

@keyframes letter-wiggle {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(7deg);
  }

  60% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.change-container {
  animation-name: letter-wiggle;
  animation-duration: 0.5s;
}

.key-container {
  position: absolute;
  bottom: 2%;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.key-row1 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.key-row2 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.key-row3 {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.letter {
  background-color: #a7aba8;
  width: 50px;
  height: 50px;
  color: white;
  border-color: #c1dec9;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 32px;
  margin: 3px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.key {
  color: white;
  width: 30px;
  height: 48px;
  background-color: #8b8c8b;
  margin: 3px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
}

#correct {
  background-color: #70cc33;
}

#almost {
  background-color: #ccc433;
}

#incorrect {
  background-color: #eb4034;
}

.bigkey {
  color: white;
  width: 50px;
  height: 48px;
  background-color: #8b8c8b;
  margin: 3px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  font-family: 'Lilita One', cursive;
}

.key-text {
  padding-top: 5px;
  font-family: 'Lilita One', cursive;
}

.keyboard-container {
  padding-top: 10px;
}

.win-container {
  color: white;
  text-align: center;
}

.version-container {
  color: white;
  text-align: center;
}

.instruction-container {
  text-align: center;
}

.instruction-header {
  padding-top: 20px;
  color: white;
  font-size: 48px;
}

.instruction-text {
  padding-top: 50px;
  color: white;
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.instruction-button {
  margin-top: 50px;
  border-radius: 10px;
  border-color: #8b8c8b;
  background-color: #8b8c8b;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.instruction-button-text {
  color: white;
  font-size: 36px;
}