.header {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.key-container {
  display: flex;
  flex-direction: column;
}

.key-row1 {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}

.key-row2 {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
}

.key-row3 {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}

.letter {
  width: 50px;
  height: 50px;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 32px;
  margin: 3px;
  border-radius: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.key {
  color: white;
  width: 30px;
  height: 40px;
  background-color: grey;
  margin: 3px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
}

#correct {
  background-color: #70cc33;
}

#almost {
  background-color: #ccc433;
}

#incorrect {
  background-color: #eb4034;
}

.bigkey {
  color: white;
  width: 50px;
  height: 40px;
  background-color: grey;
  margin: 3px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
}

.key-text {
  padding-top: 5px;
}

.keyboard-container {
  padding-top: 15px;
}

.win-container {
  color: white;
  text-align: center;
}