.header {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.key-container {
  display: flex;
  flex-direction: column;
}

.key-row1 {
  display: flex;
  flex-direction: row;
}

.key-row2 {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.key-row3 {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
}

.letter {
  width: 50px;
  height: 50px;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  font-size: 32px;
  margin: 5px;
  border-radius: 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.key {
  color: white;
  width: 30px;
  height: 40px;
  background-color: grey;
  margin: 3px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
}

#correct {
  background-color: green;
}

#almost {
  background-color: yellow;
}

#incorrect {
  background-color: red;
}